/dist
/node_modules

.env
.DS_Store

examples/
screenshots/
*.png
*.jpg
*.jpeg

# Temporary folders
tmp/
temp/

# Nuxt.js build / generate output
.nuxt

# Gatsby files
.cache/
public

# Storybook build outputs
.out

# Package manager
pnpm-lock.yaml
bun.lockb
bun.lock
yarn.lock
package-lock.json
npm-shrinkwrap.json
